%title {
    font-weight: 700;
    font-size: 40px;
    width: 530px;
}

%text-title {
    text-transform: uppercase;
      font-size: 34px;
}

%data-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 32px;
    padding-top: 29px;
    padding-left: 25px; 
}
    