@import "variables";
@import "mixins";
@import "sample";

.triangle {
  @include triangle(0px, 0px);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid $mainColor;
}